<div class="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <span class="fs-2" style="color: white;">User <b>Management</b></span>
        <form class="d-flex" *ngIf="view=='home'">
          <button class="btn btn-light" type="submit"><img src="../assets/excel.png"> Export To Excel</button>
          <button class="btn btn-light" type="submit" style="margin-left: 1vw;"><img src="../assets/plus.png"> Add New User</button>
        </form>
        <form class="d-flex" *ngIf="view=='details'">
          <button class="btn btn-light" type="submit" (click)="goToHome()"><img src="../assets/arrow.png"> Go back</button>
        </form>
    </div>
  </nav>

  <div class="data_table" *ngIf="view=='home'">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userValues.data">
          <th scope="row">{{item.id}}</th>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.email}}</td>
          <td><button type="button" class="btn btn-primary" (click)="goToUserDetails(item.id)"><img src="../assets/profile-user.png"> View Person Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Open person profile -->
  <div *ngIf="view=='details'">
    <app-user-detail [userID]="idClicked"></app-user-detail>
  </div>

  
  <div class="nxt_records" *ngIf="view=='home'">
    <span><b> Showing <i>{{userValues.per_page}}</i> of <i>{{userValues.total}}</i></b></span>
  </div>
  <div class="nxt-buttons" *ngIf="view=='home'">
    <button class="btn btn-primary" (click)="goToPrevious()"><img src="../assets/left-arrow.png"></button>
    <button class="btn btn-primary" type="submit" style="margin-left: 1vw;" (click)="goToNext()"><img src="../assets/next.png"></button>
  </div>
  <div class="footer">
    <span>&copy; Methma Corporation</span>
    <div class="version">
      <span>v 1.0.0</span>
    </div>
  </div>
</div>